.code {
    font-family: Consolas,"courier new";
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 80%;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }

  p > br {
    margin: 0px;
    font-size: 10px;
  }
  
  .tox.tox-tinymce {
    border-color: black !important;
    border-radius: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    margin-top: 12px;
  }

  .header-assistant {
    background-color: #1F2A44;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .footer-assistant {
    background-color: #1F2A44;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: inherit;
  }

.navbar .btn-success {
    background-color: #1F2A44;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar .btn-success:hover {
    background-color: #1F2A44; /* Darker green on hover */
    transform: translateY(-2px); /* Slight elevation */
}

.nav {
  position: fixed;
  background-color: #fff;
  padding: 10px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
  opacity: 0.9;
  margin-left: -20px;
  height: 50px;
  z-index: 100;
}

.nav:hover {
  height: 150px;
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav-input:hover  ~ .menu {
  width: 150px;
  height: 100%;
}

.menu:hover {
  width: 150px;
  height: 100%;
}

.first-span:hover  ~ .menu {
  width: 150px;
  height: 100%;
}

.nav-input:hover ~ .menu {
  width: 150px;
  height: 100%;
}


.nav input {
  height: 20px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  font-weight: 600;
  transition: 0.5s;
}

.menu li a:hover {
  color: #161919;
}

.nav input {
  width: 40px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}

.first-span {
  margin-top: 5px;
  background-color: #ffffff !important;
  border-radius: 0px !important;
}

.nav:hover ~ span {
  background-color: #666;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav:hover ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav:hover ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

.assistant-chat-results {
  height: calc(100vh  - 50vh);
  width: 98%; 
  margin: 10px;
  overflow-y: scroll; 
  border: 2px solid black;
  margin-bottom: 10px;
}

.assistant-chat-text {
  height: calc(100vh  - 67vh);
  margin: 10px;
  width: 98%; 
  padding-bottom: 40px;
  margin-bottom: 40px;
}


